@import "normalize";
@import "reset";
@import "fonts";
@import "colors";
@import "mixins";

// Some defaults

  $base-font: 18px;
  $base-line-height:1.5;
  $border-width: 10px;
  $border-radius: 3px;

::selection {
  background: $accent-color;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $accent-color;
  /* Gecko Browsers */
}
// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-stretch: normal;
  font-family: $sans;
  color: $light;
  font-size:$base-font;
  line-height:$base-line-height;
}
// Body base
body {
  background: $bg;
}

// Typography 

$f1: 54px;
@mixin f1 {
    font-family: $sans;

    font-size: $f1;   
    $f1-lh: $f1 * 1.125;
    line-height: $f1-lh;
    margin-bottom: $f1-lh;
    font-weight: 700; 
}

$f2: 36px;
@mixin f2 {
    font-family: $sans;
    font-size: $f2;
    $f2-lh: $f2 * 1.15;
    line-height: $f2-lh;
    margin-bottom: $f2-lh;
    font-weight: 700;
}

$f3: 18px;
@mixin f3 {
    font-family: $sans;
    font-size: $f3;
    $f3-lh: $f3 * 1.25;
    line-height: $f3-lh;
    margin-bottom: $f3-lh;
    font-weight:700;
}

$fp: 18px;
@mixin fp {
    font-size: $fp;
    $fp-lh: $fp * 1.25;
    line-height: $fp-lh;
    margin-bottom: $fp-lh;
    font-weight:300;
}

.f1 {
    @include f1;
}

.f2 {
    @include f2;
}

.f3 {
    @include f3;
}

.fp {
    @include fp;
}

.fp-intro {
  @include fp;
  font-weight:700;
}

strong {
  font-weight:700;
}

/* Usage: @include fX; */

.contained {
  width: 770px;
  max-width:80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

a {
  @include fp;
  color:$light;
  @include transition (all, 0.25s, ease-in-out);
}

a:hover {
  text-decoration:none;
}

header {
  height:120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond-to(phone){
    justify-content: start;
    height:80px;
    }
}

header h1 {
  color:$secondary-color;
  margin-bottom:28px !important;
  @include respond-to(phone){
    font-size:20px !important;
    margin-bottom:18px !important;
    }
}

header nav a.tuition {
  text-decoration:none;
  @include transition (all, 0.25s, ease-in-out);
    @include respond-to(phone){
    // display:none;
    }
}

header nav a:hover {
  color:$secondary-color;
}

section.hero {
  height:80vh;
  background: url('/img/hero-bg-vector.png') center center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to(tablet-portrait){
    background-size: 95%;
    height:60vh;
    }
  @include respond-to(phone){
    background-size: 90%;
    height:40vh;
    background-position: center center;
    }
}

section.hero h1 {
  padding: 0 60px;
  @include respond-to(tablet-portrait){
  padding: 0 30px;
  }
    @include respond-to(phone){
    padding: 0 0;
    @include f2;
    margin:0;
    }
}

section.tuition {
  background:$light;
  color:$primary-color;
  padding:60px 0;
}

section.tuition h1 {
  color: $secondary-color;
}

.tuition-header {
  justify-content:center;
  text-align:center;
  margin-bottom:60px;
}

.col {
  width:50%;
  padding-right:60px;
    @include respond-to(tablet-portrait){
      width: 100%;
      padding-right:0px;
      }
}

.tuition-body {
  margin-bottom: 60px;
}

.tuition-pricing {
  background:$secondary-color;
  color:$primary-color;
  padding:30px 60px;
  @include border-radius($border-radius);
  @include respond-to(tablet-portrait){
    padding:30px;
    }
}

button {
  padding:20px 40px;
  @include border-radius($border-radius);
  border:0;
  background:$primary-color;
  color:$light;
  @include transition (all, 0.25s, ease-in-out);
  cursor: pointer;
  @include respond-to(phone){
    padding:10px 20px;
  }
}

button a {
  text-decoration:none;
}

button:hover {
  background:$light;
}

button:hover a {
  color:$primary-color;
}

section.copywriting {
  padding:60px;
  @include respond-to(phone) {
    padding:30px;
  }
}

.copywriting-content {
  justify-content:start;
  text-align:left;
}

.copywriting-content h1 {
  color:$secondary-color;
}

.copywriting-content a, .copywriting-content a:visited,  {
  color:$secondary-color;
}

.copywriting-content a:hover {
  color:$light;
}

section.about-contact {
  display: flex;
  flex-wrap: wrap;
}

section.about-contact > .about, section.about-contact > .contact, .col  {
  width:50%;
  @include respond-to(tablet-portrait){
    width:100%;
    }
  @include respond-to(phone){
    width: 100%;
    }
}

.col {
  padding-right:60px;
  @include respond-to(phone){
    padding-right:0;
    }
}

.about {
  background:$light;
  color:$primary-color;
  padding:60px 120px;
  @include respond-to(tablet-portrait){
    padding:30px 60px;
    }
  @include respond-to(phone){
    padding:30px 60px;
    }
}

.about-text {
  @include vertical-align();
}

.about h1 {
  color:$secondary-color;
}

.contact {
  background:$secondary-color;
  color:$primary-color;
}

.contact-text {
  padding:60px;
  @include respond-to(tablet-portrait){
    padding:30px 60px;
    }
  @include respond-to(phone){
    padding:30px 60px;
    }
}

.contact-text a, .contact-text a:visited  {
  color:$primary-color;
  @include transition (all, 0.25s, ease-in-out);
  text-decoration:none;
}

.contact-text a:hover {
  color:$light;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #fff;
  }
